[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group Xiaomi Maintainers
	forgeAuthor = group Xiaomi Maintainers
	forgeCommitter = group Xiaomi Maintainers
	push = group Xiaomi Maintainers
	label-Code-Review = -2..+2 group Xiaomi Maintainers
	label-Verified = -1..+1 group Xiaomi Maintainers
	submit = group Xiaomi Maintainers
